.TituloPrincipal{
    color: rgb(231, 170, 39); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    font-size: 100px;
   border: 3px solid white;
   border-radius: 25px;
   margin-left: 200px; margin-right: 200px;
   padding-bottom: 10px;
   background-color: white;
}

.Subtemas{
    color: black; 
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-left: 20px; 
    border: solid white;
    border-radius: 20px;
    margin-left: 80px;
    padding-right: 50px;
    margin-right: 1000px;
    background-color: white;
}
.SubtemasLargos{
    color: black; 
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-left: 20px; 
    border: solid white;
    border-radius: 20px;
    margin-left: 80px;
    padding-right: 50px;
    margin-right: 300px;
    background-color: white;
}

.Parrafo{
    padding-left: 150px; 
    padding-right: 150px; 
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
    font-size: large;
}

.Nombres{
    color: rgb(231, 170, 39); 
    font: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 20px; 
    border: solid white;
    border-radius: 20px;
    margin-left: 80px;
    padding-right: 50px;
    margin-right: 900px;
    background-color: rgb(10, 10, 10);
}

.EjemplosCodigo{
    color: white; 
    font: bolder;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: medium; 
    border: solid rgb(231, 170, 39);
    border-radius: 25px;
    margin-left: 500px; margin-right: 500px;
    background-color: rgb(231, 170, 39);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.EjemplosCodigoCorto{
    color: white; 
    font: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    border: solid rgb(231, 170, 39);
    border-radius: 25px;
    margin-left: 800px; margin-right: 800px;
    background-color: rgb(231, 170, 39);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 70px; 
}

