/*
    Aquí va el diseño de todo lo especifico de la pantalla index.
*/

/* Seccion animales */
.animales {
 background: white;
 color: gray;
 padding: 20px;
 /* hacemos que los elementos se pongan en fila */
 display: flex;
 flex-direction: row;
}

.animales figure {
 margin: auto;
 text-align: center;
 /* hacemos que el texto esté en mayusculas */
 text-transform: uppercase;
 width: 200px;
}

.animales figure img {
 border: 1px solid white;
 /* hacemos las imagenes redondas*/
 border-radius: 50%;
 /*Le damos un sombreado a la imagen*/
 box-shadow: gray 0 0 10px;
 width: 200px;
}

/* Sección historias */
.historias {
 padding-top: 10px;
 background: lightblue;
 color: gray;
 /* Especificamos que los elementos de la sección se ordenen verticalmente */
 display: flex;
 flex-direction: column;
}

#divblue {
 height: 100px;
 width: 80%;
 background-color: rgb(76, 181, 245);
 text-align: center;
 color: white;
 /* propiedad que da una forma de flecha al div */
 clip-path: polygon( 0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
 /* centramos el div */
 margin: 0 auto;
}

table,
th,
td {
 /*Especificamos como se deben ver los bordes*/
 border: 2px solid black;
 border-collapse: collapse;
}

#tblHistoria {
 margin: 20px auto;
 border: 1px solid black;
 width: 80%;
 background-color: cornsilk;
}

#tblHistoria td {
 padding: 10px;
}

#tblHistoria img {
 display: block;
 /* centramos la imagen */
 margin-left: auto;
 margin-right: auto;
}

#tblHistoria h4 {
 text-align: center;
}

.text-justify {
 text-align: justify !important;
}