/* 
    Este css tiene el diseño genral de la página, es decir lo que se repita
    en todas las páginas debe ir aqui. Ej. El nav-bar, footer, colores, etc.
*/

body {
 background: rgb(58, 58, 58);
 color: white;
 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
 /*Asignamos a 0 los margenes y espacios para quitar los de defecto*/
 margin: 0;
 padding: 0;
}

/* HEADER */
header {
 background-color: black;
 background-image: url("../img/adopt.jpg");
 background-size: 100%;
 background-position: center;
 height: 400px;
 padding: 20px;
 text-align: center;
}

header a {
 color: white;
 /*evitamos que los links cambien de color*/
 text-decoration: none;
 /*texto en mayusculas*/
 text-transform: uppercase;
 margin-top: 40px;
 text-shadow: 2px 2px #000;
}

header .logo a {
 background-image: url("../img/logo.png");
 background-size: 150px;
 background-repeat: no-repeat;
 background-position: center;
 display: inline-block;
 height: 100px;
 position: relative;
 text-indent: -9999999px;
 /* ajustamos la imagen al nivel de las opciones*/
 top: -40px;
 width: 200px;
}

nav ul {
 margin: 0;
 padding: 0;
 /* Eliminamos las viñetas */
 list-style-type: none;
}

nav li {
 /* ponemos las opciones en horizontal */
 display: inline-block;
 margin-right: 20px;
}

/* FOOTER */
footer {
 background: black;
 color: gray;
 font-size: 12px;
 padding: 20px 20px;
 text-align: center;
}